@charset "utf-8";

html,body,.page-container,.page-content,.page-sidebar-wrapper,.page-content-wrapper,.page-sidebar{
    height: 100% !important;
}
.page-sidebar{
    overflow-y: scroll !important;
}
body{
    overflow-y: hidden;
}