body {
    background-color: #ffffff /*页面背景颜色*/
}

.wrapper-content {
    padding: 0px !important; /*wrapper-content去除内边距*/
}

/*搜索部分*/
.searchspan {
    display: -moz-inline-box;
    display: inline-block;
}

.searchname {
    line-height: 34px; /*span垂直居中*/
    vertical-align: middle;
    width: 40px;
    text-align: left;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

#searchcolums input {
    vertical-align: middle;
}

.demo{
    height: 100px;
    background: #fff;
    padding: 2em 0;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab{ text-align: left; }

.tab .nav-tabs{
    display: inline-block;
    position: relative;
    border-bottom: none;
}
.tab .nav-tabs li{
    margin: 0;
}
.tab .nav-tabs li a{
    display: block;
    padding: 80px 20px 10px;
    background: #fff;
    font-size: 17px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #fff;
    margin-right: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a span{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f2f2f2;
    margin: auto;
    font-size: 22px;
    color: #999;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    transform: rotate(45deg);
}
.tab .nav-tabs li.active a span{
    background: #29335c;
    color: #fff;
}
.tab .nav-tabs li a span i{
    transform: rotate(-45deg);
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    color: #999;
    border: none;
    border-bottom: 2px solid #fff;
}
.tab .nav-tabs li.active a{
    border-bottom: 2px solid #29335c;
}
.tab .tab-content{
    padding-top: 0px;
    margin-top: -5px;
    font-size: 15px;
    color: #757575;
    line-height: 15px;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}
.tab .tab-content h3{
    font-size: 15px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li:last-child{
        margin-bottom: 0;
    }
}
/*表格部分*/
.fontcolor {
    /*color: black;*/
    color:#8bb4e7;
    font-family: "Microsoft Yahei", Arial;
}


a:hover a:visited a:link {
    color: black;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

.ibox-title {
    /*background-color: #EEEEEE;*/
    background-color: #f5f8fd;
    border-color: #8bb4e7;
    color: #010407;
}

.selected {
    background-color: #cce6ff; /*定义选中状态颜色*/
}

#probe_table td {
    white-space: nowrap; /*//规定段落中的文本不进行换行*/
}

#group_table td {
    white-space: nowrap; /*//规定段落中的文本不进行换行*/
}

.modal-body {
    padding: 0px 30px 0px 30px
}

#probeform_data .row {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}

#schedulepolicyform_data .row {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}

#groupform_data .row {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;

}

#probeform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#groupform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#schedulepolicyform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#probeform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#probeform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#probeform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}
#groupform_data .row select { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#probeform_data .form-group {
    margin-bottom: 0px;
!important;
}

#groupform_data .form-group {
    margin-bottom: 0px;
!important;
}

#schedulepolicyform_data .form-group {
    margin-bottom: 0px;
!important;
}

.form_border {
    border-left: 2px solid #e4e4e4;
    line-height: 36px;
    min-height: 36px;
    text-align: center !important;
}

.probeform_title {
    margin: 10px 0 0 0 !important;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: bold;
    font-family: "Microsoft Yahei", Arial;
    height: 30px;
}

.schedulepolicyform_title {
    margin: 10px 0 0 0 !important;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: bold;
    font-family: "Microsoft Yahei", Arial;
    height: 30px;
}


#probetesttarget_title{
    margin: 10px 0 0 0 !important;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: bold;
    font-family: "Microsoft Yahei", Arial;
    height: 30px;
 }

.probeformtitle_border {
    margin: 7px 0 0 0;
}

.groupformtitle_border {
    margin: 7px 0 0 0;
}

.modal-header {
    background-color: #1cb395;
}

.myModalLabel {
    color: #ffffff;
}


/******测试任务组相关样式*****/
.testtargetbutton{
    margin: 0 10px 10px 20px ;
}
#handle_button{
    margin: 0 0 0 0 !important;
    background-color: #dddddd;
}

