body {
    background-color: #ffffff /*页面背景颜色*/
}

.wrapper-content {
    padding: 0px !important; /*wrapper-content去除内边距*/
}

/*搜索部分*/
.searchspan {
    display: -moz-inline-box;
    display: inline-block;
}

.searchname {
    line-height: 34px; /*span垂直居中*/
    vertical-align: middle;
    width: 100px;
    text-align: right;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

#searchcolums input {
    vertical-align: middle;
}

/*表格部分*/
.fontcolor {
    color: #b85a60;
}

a:hover a:visited a:link {
    color: #b85a60;
}

a:visited {
    color: #b85a60;
}

a:link {
    color: #b85a60;
}

.ibox-title {
    background-color: #EEEEEE;
}

.selected {
    background-color: #cce6ff; /*定义选中状态颜色*/
}

#probe_table td {
    white-space: nowrap; /*//规定段落中的文本不进行换行*/
}

.modal-body {
    padding: 0px 30px 0px 30px
}

#probeform_data .row {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;

}

#probeform_data .row input { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#probeform_data .row select { /*设置外边距*/
    margin: 4px 0 4px 0;
}

#probeform_data .form-group {
    margin-bottom: 0px;
!important;
}

.form_border {
    border-left: 2px solid #e4e4e4;
    line-height: 36px;
    min-height: 36px;
    text-align: center !important;
}

#probeform_title {
    margin: 10px 0 0 0 !important;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
}
#probetesttarget_title{
    margin: 10px 0 0 0 !important;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
 }

.probeformtitle_border {
    margin: 7px 0 0 0;

}

.modal-header {
    background-color: #1cb395;
}

#myModalLabel {
    color: #ffffff;
}

/******测试任务组相关样式*****/
.testtargetbutton{
    margin: 0 10px 10px 20px ;
}
#handle_button{
    margin: 0 0 0 0 !important;
    background-color: #dddddd;
}

