<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>探针列表</title>
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">  <!--自定义CSS-->
</head>
<body>
<div class="htmleaf-container">
    <div class="tab" role="tabpanel">
        <!--&lt;!&ndash; Nav tabs &ndash;&gt;<span><i class="fa fa-globe"></i></span><span><i class="fa fa-rocket"></i></span>-->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">探针管理</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">探针组管理</a> </li>
            <!--<li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab"><span><i-->
            <!--class="fa fa-briefcase"></i></span> Section 3</a></li>-->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ibox float-e-margins">
                                <!--<div class="ibox-title">-->
                                <!--<h3 class="fontcolor">探针管理</h3>-->
                                <!--</div>-->
                                <div class="ibox-content" style="padding-bottom: 0 !important;">
                                    <div class="row" style="border: none !important;">
                                        <form class="col-lg-10 col-md-10 col-sm-10 form-horizontal" id="probesearch" role="form">
                                            <div class="input-group searchspan">
                                                <span class="searchname" title="探针名">探针名</span>
                                                <input type="text" class="form-control" name="name" style="width: 110px"
                                                       value="">
                                            </div>

                                            <div class="input-group searchspan">
                                                <span class="searchname" title="地市">地市</span>
                                                <select class="form-control" name="city_man" style="width: 110px">
                                                    <option value="">---请选择---</option>
                                                    <option v-for="item in citys">{{ item.message }}</option>
                                                </select>
                                            </div>

                                            <div class="input-group searchspan">
                                                <span class="searchname" title="区县">区县</span>
                                                <select class="form-control " name="county" style="width: 110px">
                                                    <option value="">---请选择---</option>
                                                    <option v-for="item in countys">{{ item.message }}</option>
                                                </select>
                                            </div>

                                            <div class="input-group searchspan">
                                                <span class="searchname" title="探针组">探针组</span>
                                                <select class="form-control" name="probegroup_name"
                                                        style="width: 130px;">
                                                    <option value="">---请选择---</option><!--vue 绑定value属性    重要！！！！-->
                                                    <option v-for="item in probegroup_names"
                                                            v-bind:value="item.message.name">{{ item.message.name }}
                                                    </option>
                                                </select>
                                            </div>

                                        </form>

                                        <div class="col-lg-2 col-md-2 col-sm-2 btn-group" style="margin-top: 4px;">
                                            <button type="button" class="btn btn-default ui-button" style="margin-right: 5px"
                                                    v-on:click="groupsearch"><span
                                                    class="glyphicon glyphicon-zoom-in"></span>查询
                                            </button>
                                            <button type="button" class="btn btn-default ui-button" v-on:click="reset"><span
                                                    class="glyphicon glyphicon-zoom-in"></span>重置
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" id="probe_table">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title fontcolor" id="probehandle"
                                     style="padding-bottom: 0px !important;">
                                    <!--<button type="button" class="btn btn-default " v-on:click="probeupdate"><span-->
                                    <!--class="glyphicon glyphicon-pencil"></span>编辑-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-default ui-button"
                                            v-on:click="probedelBatch"><span
                                            class="glyphicon glyphicon-trash"></span>批量删除
                                    </button>
                                    <a href="../../cem/probe/download"><button type="button" class="btn btn-default ui-button"><span
                                            class="glyphicon glyphicon-open"></span>导出
                                    </button></a>
                                    <!--<div class="btn-group pull-right">-->
                                    <!--<button type="button" class="btn btn-default " style="margin-right: 5px"-->
                                    <!--v-on:click="probesearch"><span-->
                                    <!--class="glyphicon glyphicon-zoom-in"></span>查询-->
                                    <!--</button>-->
                                    <!--<button type="button" class="btn btn-default " v-on:click="reset"><span-->
                                    <!--class="glyphicon glyphicon-refresh"></span>重置-->
                                    <!--</button>-->
                                    <!--</div>-->
                                </div>
                                <div class="ibox-content">
                                    <div class="row " style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                        <table class="table table-bordered " id="probedata_table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


<!--                    &lt;!&ndash; 探针编辑模态框（Modal） &ndash;&gt;
                    <div class="modal fade" id="myModal_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 768px"> &lt;!&ndash;修改bootstrap modal模态框的宽度&ndash;&gt;
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title myModalLabel">{{modaltitle}}</h4>
                                </div>
                                <div class="row probeform_title">
                                    <br>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <form class="form-horizontal" id="probeform_data" role="form">
                                            <div class="form-group row">
                                                <label for="id"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                                       style="display: none">id:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border"
                                                     style="display: none">
                                                    <input type="text" class="form-control" id="id" name="id"
                                                           placeholder="请输入id">
                                                </div>
                                                <label for="probename"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">探针名:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="probename" name="name"
                                                           placeholder="请输入探针名">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="location"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">所属位置:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="location"
                                                           name="location"
                                                           placeholder="请输入所属位置">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="portIP"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">端口及IP:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="portIP" name="portIP"
                                                           placeholder="请输入端口及IP">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="brasName"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">BRAS名称:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="brasName"
                                                           name="brasName"
                                                           placeholder="请输入BRAS名称">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>-->

                   <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 768px"> <!--修改bootstrap modal模态框的宽度-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title myModalLabel">{{modaltitle}}</h4>
                                </div>
                                <!--<div class="row probeform_title">
                                    <div class="col-lg-3 col-md-2 col-sm-3">
                                        <h4 class="fontcolor probeformtitle_border">表单信息管理</h4>
                                    </div>
                                </div>-->
                                <div class="row probeform_title">
                                    <br>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <form class="form-horizontal" id="probeform_data" role="form">
                                            <div class="form-group row">
                                                <label for="id"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                                       style="display: none">id:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border"
                                                     style="display: none">
                                                    <input type="text" class="form-control" id="id" name="id"
                                                           placeholder="请输入id">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="probename"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">探针名:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="probename" name="name"
                                                           placeholder="请输入探针名">
                                                </div>
                                                <label for="serialNumber"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">序列号:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="serialNumber" name="serialNumber"
                                                           placeholder="请输入序列号">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="city"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">所属地市:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <select id="city" class="form-control" name="city">  <!--VUE列表渲染-->
                                                        <option v-for="item in citys">
                                                            {{ item.message }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <label for="county"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">所属区县:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <select id="county" class="form-control" name="county">
                                                        <!--VUE列表渲染-->
                                                        <option v-for="item in countys">
                                                            {{ item.message }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">

                                                <label for="location"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">所属位置:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="location"
                                                           name="location"
                                                           placeholder="请输入所属位置">
                                                </div>
                                                <label for="type"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">探针类型:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <select id="type" class="form-control" name="type">  <!--VUE列表渲染-->
                                                        <option v-for="item in types">
                                                            {{ item.message }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">

                                                <label for="upstream"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">层级上联探针:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input id="upstream" class="form-control" name="upstream">
                                                    </input>
                                                </div>
                                                <label for="status"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">状态:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="status" name="status"
                                                           placeholder="请输入状态">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="reportInterval"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">上报间隔:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="reportInterval"
                                                           name="reportInterval"
                                                           placeholder="请输入上报间隔">
                                                </div>
                                                <label for="registerTime"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">注册时间:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="registerTime" name="registerTime"
                                                           placeholder="请输入注册时间">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastHbtime"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border">最后心跳时间:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                                    <input type="text" class="form-control" id="lastHbtime"
                                                           name="lastHbtime"
                                                           placeholder="请输入最后心跳时间">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" v-on:click="submit">保存修改</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 删除确认模态框（Modal） -->
                    <div class="modal fade" id="myModal_delete" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 500px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title" id="myModalLabel_delet">
                                        确认
                                    </h3>
                                </div>
                                <div class="modal-body" style="font-size: medium">
                                    <b>确定删除吗?</b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            v-on:click="cancel_delete">取消
                                    </button>
                                    <button type="button" class="btn btn-success" v-on:click="delete_data">确定</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content" style="padding-bottom: 0">
                                <div class="row">
                                    <form class="form-horizontal" id="groupsearch" role="form">
                                        <div class=" col-lg-5 col-md-5 col-sm-5 searchspan">
                                            <span class="searchname" title="探针组名">探针组名：</span>
                                            <input type="text" class="form-control" name="name" style="width: 110px"
                                                   value="">
                                        </div>
                                        <div class="btn-group pull-left">
                                            <button type="button" class="btn btn-default ui-button" style="margin-right: 5px; margin-top: 5px"
                                                    v-on:click="groupsearch"><span
                                                    class="glyphicon glyphicon-zoom-in"></span>查询
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="group_table">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title fontcolor" id="grouphandle"
                                 style="padding-bottom: 0px !important;">
                                <button type="button" class="btn btn-default ui-button" v-on:click="groupadd"><span
                                        class="glyphicon glyphicon-plus"></span>录入
                                </button>
                                <!--<button type="button" class="btn btn-default ui-button" v-on:click="groupupdate"><span
                                        class="glyphicon glyphicon-pencil"></span>编辑
                                </button>-->
                            </div>
                            <div class="ibox-content col-lg-8 col-md-8 col-sm-8">
                                <div class="row " style="">     <!--表格 verflow-x: scroll超出滚动-->
                                    <table class="table table-bordered " id="probegroup_table"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" style="width: 768px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title myModalLabel">{{modaltitle}}</h4>
                        </div>
                        <div class="row probeform_title">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <h4 class="fontcolor probeformtitle_border">表单信息管理</h4>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form class="form-horizontal" id="groupform_data" role="form">
                                    <div class="form-group row">
                                        <label for="groupid"
                                               class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                               style="display: none">id:</label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 form_border"
                                             style="display: none">
                                            <input type="text" class="form-control" id="groupid" name="id"
                                                   placeholder="请输入id">
                                        </div>
                                        <label for="groupname"
                                               class="col-lg-3 col-md-3 col-sm-3 control-label form_border">探针组名:</label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                            <input type="text" class="form-control" id="groupname" name="name"
                                                   placeholder="请输入探针组名">
                                        </div>
                                        <label for="remark"
                                               class="col-lg-3 col-md-3 col-sm-3 control-label form_border">备注:</label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 form_border">
                                            <input type="text" class="form-control" id="remark" name="remark"
                                                   placeholder="请输入探针组备注">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-success" v-on:click="submit">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal_groupdelete" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" style="width: 500px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h3 class="modal-title" id="myModalLabel_groupdelete">
                                确认
                            </h3>
                        </div>
                        <div class="modal-body" style="font-size: medium">
                            <b>确定删除吗?</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    v-on:click="cancel_delete">取消
                            </button>
                            <button type="button" class="btn btn-success" v-on:click="deletegroup_data">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>


<script>window.jQuery || document.write('<script src="${rc.contextPath}/statics/js/plugins/jquery/jquery-2.0.3.js"><\/script>')</script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/modules/probe/probeTable.js?_${date.systemTime}"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/index.js"></script>
</body>

</html>