<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务创建</title>
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">  <!--自定义CSS-->
</head>
<body>
<div class="htmleaf-container">
    <div class="tab" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                      data-toggle="tab">任务下发</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">任务模板管理</a>
            </li>
        </ul>
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="wrapper wrapper-content">
                    <div class="row" id="model_table">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title fontcolor" id="task_handle"
                                     style="padding-bottom: 0px !important;">
                                    <button type="button" class="btn btn-default ui-button "
                                            v-on:click="delBatch"><span
                                            class="glyphicon glyphicon-remove"></span>批量删除
                                    </button>
                                </div>
                                <div class="ibox-content">
                                    <div class="row " style="overflow-x: scroll">     <!--表格 verflow-x: scroll超出滚动-->
                                        <table class="table table-bordered " id="task_table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 取消确认模态框（Modal） -->
                    <div class="modal fade" id="myModal_delete" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title" id="myModalLabel_delet">
                                        确认
                                    </h3>


                                </div>
                                <div class="modal-body">
                                    <b style="font-size: medium">确定取消任务吗?</b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            v-on:click="cancel_delete">取消
                                    </button>
                                    <button type="button" class="btn btn-success" v-on:click="delete_data">
                                        确定
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                    <!-- 信息编辑模态框（Modal） -->
                    <div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width:700px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title myModalLabel">任务名称修改</h3>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <form class="form-horizontal" id="groupform_data" role="form">
                                            <div class="form-group row">

                                                <label for="taskname"
                                                       class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                                       style="font-size: medium">任务名称:</label>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <input type="text" class="form-control" id="taskname" name="name"
                                                           placeholder="请输入名称">
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-success">确定</button>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    <div class="wrapper wrapper-content">
                        <h3>我是section2</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>window.jQuery || document.write('<script src="${rc.contextPath}/statics/js/plugins/jquery/jquery-2.0.3.js"><\/script>')</script>
    <!--<script type="text/javascript"-->
    <!--src="${rc.contextPath}/statics/js/modules/probe/probeTable.js?_${date.systemTime}"></script>-->
    <script type="text/javascript" src="${rc.contextPath}/statics/js/index.js"></script>
</body>
</html>