<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务创建</title>
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">  <!--自定义CSS-->
</head>
<body>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title-upper">
                    <p class="fontcolor" style="font-size: large">任务创建</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row" id="template_table">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title fontcolor" id="handle" style="padding-bottom: 0px !important;">
                    <button type="button" class="btn btn-sm btn-success " v-on:click="newTask"><span
                            class="glyphicon glyphicon-plus"></span>新建任务
                    </button>
                    <!--<button type="button" class="btn btn-sm btn-success " v-on:click="testagentdelBatch"><span-->
                    <!--class="glyphicon glyphicon-remove"></span>批量取消-->
                    <!--</button>-->
                </div>
                <div class="ibox-content">
                    <div class="row " style="overflow-x: auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="task_table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--任务分配数查询模态框-->
    <div class="modal fade" id="myModal_dispatch" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="" true>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title">
                        已分配数量
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row " style="overflow-x: auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="dispatch_table"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">返回
                    </button>
                    <!--<button type="button" class="btn btn-success" v-on:click="">-->
                    <!--确定-->
                    <!--</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 删除确认模态框（Modal） -->
    <div class="modal fade" id="myModal_delete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="" true>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel_delet">
                        确认
                    </h3>
                </div>
                <div class="modal-body">
                    <b style="font-size: medium">确定删除任务吗?</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            v-on:click="cancel_delete">取消
                    </button>
                    <button type="button" class="btn btn-success" v-on:click="delete_task">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 任务下发模态框（Modal） -->
    <div class="modal fade" id="task_dispatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title myModalLabel">任务下发</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <label>
                                <input type="radio" name="chooseprobe" checked value="1"><i></i>选择探针
                            </label>
                            <label>
                                <input type="radio" name="chooseprobe" value="0"><i></i>选择探针组
                            </label>
                        </div>
                    </div>
                    <form class="form-horizontal" id="dispatch_probe" role="form">
                        <div class="row">
                            <div class="ue-container">
                                <select multiple="multiple" size="10" id="selectprobe" name="probeId">
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div style="/*border-top: 1px solid #e5e5e5;*/ padding-top: 2%;">
                            <label>
                                <input type="radio" name="choosetarget" checked value="1"><i></i>选择测试目标
                            </label>
                            <label>
                                <input type="radio" name="choosetarget" value="0">选择测试目标组
                            </label>
                        </div>
                    </div>
                    <form class="form-horizontal" id="dispatch_target" role="form">
                        <div class="row">
                            <div class="ue-container">
                                <select multiple="multiple" size="10" name="targetId" id="selecttarget">
                                </select>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-success" onclick="submit_dispatch()">下发</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 任务新建/编辑模态框（Modal） -->
    <div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title myModalLabel">任务详情</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form-horizontal" id="taskform_data" role="form">
                            <div class="form-group row">
                                <label for="id"
                                       class="col-lg-2 col-md-2 col-sm-2"
                                       style="display: none">id:</label>
                                <div class="col-lg-2 col-md-2 col-sm-2 "
                                     style="display: none">
                                    <input type="text" class="form-control" id="id" name="id"
                                           readonly="readonly" unselectable="on" placeholder="请输入id">
                                </div>
                                <label for="taskname"
                                       class="col-lg-3 col-md-3 col-sm-3 form_border"
                                       style="font-size: medium">任务名称:</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <input type="text" class="form-control" id="taskname"
                                           name="taskName" readonly="readonly" unselectable="on"
                                           placeholder="请输入名称">
                                </div>
                                <label for="servicetype"
                                       class="col-lg-3 col-md-3 col-sm-3 form_border"
                                       style="font-size: medium">任务类型:</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <select id="servicetype" disabled="disabled" v-on:change="servicechange()"
                                            class="form-control"
                                            name="serviceType">
                                        <optgroup label="网络连通性测试">
                                            <option value="1">PING(ICMP ECHO)</option>
                                            <option value="2">PING(TCP ECHO)</option>
                                            <option value="3">PING(UDP ECHO)</option>
                                            <option value="4">Trace Route(ICMP)</option>
                                            <option value="5">Trace Route(UDP)</option>
                                        </optgroup>
                                        <optgroup label="网络层质量测试">
                                            <option value="10">SLA(TCP)</option>
                                            <option value="11">SLA(UDP)</option>
                                            <option value="12">ADSL接入</option>
                                            <option value="13">DHCP</option>
                                            <option value="14">DNS</option>
                                            <option value="15">Radius认证</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="schpolicy"
                                       class="col-lg-3 col-md-3 col-sm-3 form_border"
                                       style="font-size: medium">调度策略:</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <select id="schpolicy" class="form-control" disabled="disabled" name="schPolicyId">
                                        <option value="">---请选择---</option>
                                        <option v-for="item in schpolicies"
                                                v-bind:value="item.message.id">{{ item.message.spName }}
                                        </option>
                                    </select>
                                </div>
                                <label for="alarmtemplate"
                                       class="col-lg-3 col-md-3 col-sm-3 form_border"
                                       style="font-size: medium">告警模板:</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <select id="alarmtemplate" disabled="disabled" class="form-control"
                                            name="alarmTemplateId">
                                        <option value="">---请选择---</option>
                                        <option v-for="item in alarmtemplates"
                                                v-bind:value="item.message.id">{{ item.message.atName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" id="taskform_param" role="form">
                            <div class="service service_unselected" id="pingicmp">
                                <div class="form-group row">
                                    <label for="count"
                                           class="col-lg-3 col-md-3 col-sm-3 form_border"
                                           style="font-size: medium">发包个数</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input type="text" class="form-control" id="count"
                                               value="10" disabled="disabled" name="count"
                                               placeholder="">
                                    </div>
                                    <label for="interval"
                                           class="col-lg-3 col-md-3 col-sm-3 form_border"
                                           style="font-size: medium">发包间隔(ms)</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input type="text" class="form-control" id="interval"
                                               value="100" disabled="disabled" name="interval"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="size"
                                           class="col-lg-3 col-md-3 col-sm-3 form_border"
                                           style="font-size: medium">负载大小(byte)</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input type="text" class="form-control" id="size"
                                               value="100" disabled="disabled" name="size" placeholder="">
                                    </div>
                                    <label for="payload"
                                           class="col-lg-3 col-md-3 col-sm-3 form_border"
                                           style="font-size: medium">负载内容</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input type="text" class="form-control" id="payload"
                                               value="32" disabled="disabled" name="payload"
                                               placeholder="请输入备注">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ttl"
                                           class="col-lg-2 col-md-2 col-sm-2 form_border"
                                           style="font-size: medium">TTL:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="text" class="form-control" id="ttl"
                                               name="ttl" disabled="disabled" value="255" placeholder="请输入备注">
                                    </div>
                                    <label for="tos"
                                           class="col-lg-2 col-md-2 col-sm-2 form_border"
                                           style="font-size: medium">IP服务类型:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <select name="tos" disabled="disabled" id="tos" class="form-control">
                                            <option value="000">普通</option>
                                            <option value="001">优先</option>
                                            <option value="010">快速</option>
                                            <option value="011">闪速</option>
                                            <option value="100">疾速</option>
                                            <option value="101">关键</option>
                                            <option value="110">网间控制</option>
                                            <option value="111">网络控制</option>
                                        </select>
                                    </div>
                                    <label for="timeout"
                                           class="col-lg-2 col-md-2 col-sm-2 form_border"
                                           style="font-size: medium">超出时间:</label>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <input type="text" class="form-control" id="timeout"
                                               name="timeout" disabled="disabled" value="5" placeholder="请输入备注">
                                    </div>
                                </div>
                            </div>
                            <div class="service form-group row service_unselected" id="pingtcp">
                                <label for="param2"
                                       class="col-lg-3 col-md-3 col-sm-3 form_border"
                                       style="font-size: medium">param:</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <input type="text" class="form-control" id="param2"
                                           name="param2" disabled="disabled"
                                           placeholder="请输入备注">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="newfooter" class="modal-footer">
                    <button type="button" class="btn btn-default" v-on:click="cancel">取消</button>
                    <button type="button" class="btn btn-success" v-on:click="submit">保存</button>
                </div>
                <div id="viewfooter" class="modal-footer" style="display: none">
                    <button type="button" class="btn btn-default" v-on:click="cancel">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>window.jQuery || document.write('<script src="${rc.contextPath}/statics/js/plugins/jquery/jquery-2.0.3.js"><\/script>')</script>
<script type="text/javascript"
        src="${rc.contextPath}/statics/js/modules/probe/taskNew.js?_${date.systemTime}"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/index.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/doublebox-bootstrap.js"></script>
<script>
    $(function(){
        var chooseprobeValue = $('input[name="chooseprobe"]:checked ').val();
        if(chooseprobeValue == 1){
            $("#validityPeriodTime").hide();
        }
        if(chooseprobeValue == 0){
            $("#validityPeriodTime").show();
        }
        $(".merchantzc_radio").click(function(){
            var chooseprobeValue = $('input[name="chooseprobe"]:checked ').val();
            if(chooseprobeValue == 1){
                $("#validityPeriodTime").hide();
            }
            if(chooseprobeValue == 0){
                $("#validityPeriodTime").show();
            }
        })
    })
</script>
</body>
</html>