<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务创建</title>
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">  <!--自定义CSS-->
</head>
<body>
<div class="htmleaf-container">
    <div class="tab" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                      data-toggle="tab">任务下发</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">任务模板管理</a>
            </li>
        </ul>
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="wrapper wrapper-content">
                    <div class="row" id="template_table">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="row " style="overflow-x: auto">     <!--表格 verflow-x: scroll超出滚动-->
                                        <table class="table table-bordered " id="tasktemplate_table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 删除确认模态框（Modal） -->
                    <div class="modal fade" id="myModal_delete" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title" id="myModalLabel_delet">
                                        确认
                                    </h3>

                                </div>
                                <div class="modal-body">
                                    <b style="font-size: medium">确定删除任务吗?</b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            v-on:click="cancel_delete">取消
                                    </button>
                                    <button type="button" class="btn btn-success" v-on:click="delete_data">
                                        确定
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                    <!-- 信息编辑模态框（Modal） -->
                    <div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width:800px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3 class="modal-title myModalLabel">任务名称修改</h3>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <form class="form-horizontal" id="tasktemplate_data" role="form">
                                            <div class="form-group row">
                                                <div class="form-group row">
                                                    <label for="id"
                                                           class="col-lg-2 col-md-2 col-sm-2 control-label"
                                                           style="display: none">id:</label>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 "
                                                         style="display: none">
                                                        <input type="text" class="form-control" id="id" name="id"
                                                               placeholder="请输入id">
                                                    </div>
                                                    <label for="taskname"
                                                           class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                                           style="font-size: medium">任务模板名称:</label>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <input type="text" class="form-control" id="taskname"
                                                               name="name"
                                                               placeholder="请输入名称">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="servicetype"
                                                           class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                                           style="font-size: medium">子业务类型:</label>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <input type="text" class="form-control" id="servicetype"
                                                               name="name"
                                                               placeholder="请输入名称">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="templateremark"
                                                           class="col-lg-3 col-md-3 col-sm-3 control-label form_border"
                                                           style="font-size: medium">备注:</label>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <input type="text" class="form-control" id="templateremark"
                                                               name="name"
                                                               placeholder="请输入备注">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-success">保存修改</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <p  style="font-size: small;color:#525e64;display:inline-block">常见任务组模版</p>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="position:relative; left:5%;">任务组一模版</span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="position:relative; left:20%;">任务组二模版</span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="position:relative; left:35%;">任务组三模版</span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="position:relative; left:50%;">任务组四模版</span>
                                    </button>
                                </div>

                                <div class="wrapper-module">
                                <div class="module left-up">
                                    <div class="wrapper-block task_border">
                                           <p style="font-size: medium">网络连通性业务</p>
                                    </div>
                                    <div class="wrapper-block">
                                        <p style="font-size: small;color:#525e64;display:inline-block">常用任务模版</p>
                                        <button type="button" class="btn btn-sm btn-success"
                                                style="position:relative; left:5%;">任务一模版</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-success"
                                                style="position:relative; left:10%;">任务二模版</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-success"
                                                style="position:relative; left:15%;">任务三模版</span>
                                        </button>
                                    </div>
                                    <div class="wrapper-block">
                                        <p style="font-size: small;color:#525e64;display:inline-block">单项业务模版</p>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:5%;">TraceRoute(ICMP)测试</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:12%;">TraceRoute(TCP)测试</span>
                                        </button>
                                    </div>
                                    <div class="wrapper-block">
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:5%;">PING(ICMP)测试</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:13%;">PING(TCP)测试</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:21%;">PING(UDP)测试</span>
                                        </button>
                                    </div>
                                </div>


                                <div class="module right">
                                    <div class="wrapper-block task_border">
                                        <p style="font-size: medium">网络层质量业务</p>
                                    </div>
                                    <div class="wrapper-block">
                                        <p style="font-size: small;color:#525e64;display:inline-block">常用任务模版</p>
                                        <button type="button" class="btn btn-sm btn-success"
                                                style="position:relative; left:5%;">任务一模版</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-success"
                                                style="position:relative; left:10%;">任务二模版</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-success"
                                                style="position:relative; left:15%;">任务三模版</span>
                                        </button>
                                    </div>
                                    <div class="wrapper-block">
                                        <p style="font-size: small;color:#525e64;display:inline-block">单项业务模版</p>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:5%;">SLA(TCP/UDP)测试</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:12%;">DNS测试</span>
                                        </button>
                                    </div>
                                    <div class="wrapper-block">
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:5%;">DHCP测试</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:13%;">ADSL接入测试</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-warning"
                                                style="position:relative; left:21%;">Radius认证测试</span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                                <div class="wrapper-module-new">
                                    <div class="module left-up">
                                        <div class="wrapper-block task_border">
                                            <p style="font-size: medium">网络连通性业务</p>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">常用任务模版</p>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:5%;">任务一模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:10%;">任务二模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:15%;">任务三模版</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">单项业务模版</p>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">TraceRoute(ICMP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:12%;">TraceRoute(TCP)测试</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">PING(ICMP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:13%;">PING(TCP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:21%;">PING(UDP)测试</span>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="module right">
                                        <div class="wrapper-block task_border">
                                            <p style="font-size: medium">网络层质量业务</p>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">常用任务模版</p>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:5%;">任务一模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:10%;">任务二模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:15%;">任务三模版</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">单项业务模版</p>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">SLA(TCP/UDP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:12%;">DNS测试</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">DHCP测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:13%;">ADSL接入测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:21%;">Radius认证测试</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="wrapper-module">
                                    <div class="module left-up">
                                        <div class="wrapper-block task_border">
                                            <p style="font-size: medium">网络连通性业务</p>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">常用任务模版</p>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:5%;">任务一模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:10%;">任务二模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:15%;">任务三模版</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">单项业务模版</p>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">TraceRoute(ICMP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:12%;">TraceRoute(TCP)测试</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">PING(ICMP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:13%;">PING(TCP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:21%;">PING(UDP)测试</span>
                                            </button>
                                        </div>
                                    </div>


                                    <div class="module right">
                                        <div class="wrapper-block task_border">
                                            <p style="font-size: medium">网络层质量业务</p>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">常用任务模版</p>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:5%;">任务一模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:10%;">任务二模版</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-success"
                                                    style="position:relative; left:15%;">任务三模版</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <p style="font-size: small;color:#525e64;display:inline-block">单项业务模版</p>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">SLA(TCP/UDP)测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:12%;">DNS测试</span>
                                            </button>
                                        </div>
                                        <div class="wrapper-block">
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:5%;">DHCP测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:13%;">ADSL接入测试</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-warning"
                                                    style="position:relative; left:21%;">Radius认证测试</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>









                            </div>
                        </div>
                    </div>
                </div>










            </div>
        </div>
    </div>

</div>
</div>
</div>

<script>window.jQuery || document.write('<script src="${rc.contextPath}/statics/js/plugins/jquery/jquery-2.0.3.js"><\/script>')</script>
<script type="text/javascript"
        src="${rc.contextPath}/statics/js/modules/probe/taskNew.js?_${date.systemTime}"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/index.js"></script>
</body>
</html>