<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link href="${rc.contextPath}/statics/css/bootstrap.min.css" rel="stylesheet">
<link href="${rc.contextPath}/statics/css/font-awesome.min.css" rel="stylesheet">  <!--日期箭头-->
<link href="${rc.contextPath}/statics/css/style.css" rel="stylesheet">
<link href="${rc.contextPath}/statics/css/datepicker/daterangepicker.css" rel="stylesheet">
<link rel="stylesheet" href="${rc.contextPath}/statics/plugins/toastr/toastr.css">

<!--<link href="../../../statics/css/typeaheadjs.css" rel="stylesheet">-->  <!--输入提示框typeahead-->
<link rel="stylesheet" href="${rc.contextPath}/statics/css/dataTables/dataTables.bootstrap4.min.css">


<!-- Include Required Prerequisites -->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>-->  <!--用这个-->
<script src="${rc.contextPath}/js/datepicker/moment.min.js"></script> <!--必须放在daterangepicker.js前面-->

<!--<script src="${rc.contextPath}/js/jquery-2.0.3.js"></script>-->
<script src="${rc.contextPath}/js/jquery-2.0.3.min.js"></script>
<script src="${rc.contextPath}/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/js/bootstrap3-typeahead.min.js"></script>   <!--输入提示框typeahead-->
<script src="${rc.contextPath}/js/highcharts/highcharts.js"></script>
<script src="${rc.contextPath}/js/highcharts/exporting.js"></script>  <!--highcharts处理导出图片功能的js文件-->
<script src="${rc.contextPath}/js/highcharts/Highcharts-zh_CN.js" charset="UTF-8"></script>    <!--导出按钮中文js文件-->
<script src="${rc.contextPath}/js/datepicker/daterangepicker.js"></script> <!--时间选择器-->

<script type="text/javascript" src="${rc.contextPath}/statics/libs/vue.min.js"></script>

<script src="${rc.contextPath}/js/plugins/dataTables/jquery.dataTables.min.js"></script>
<script src="${rc.contextPath}/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<script src="${rc.contextPath}/js/plugins/export_excel/alasql.min.js"></script>    <!--表格导出到excel-->
<script src="${rc.contextPath}/js/plugins/export_excel/xlsx.core.min.js"></script>
<script src="${rc.contextPath}/statics/libs/ajaxupload.js"></script>  <!--用于文件上传-->
<script src="${rc.contextPath}/js/customalert.js"></script>  <!--自定义警告框样式-->

<script src="${rc.contextPath}/js/toastr.js"></script>  <!--提示框-->

