<!DOCTYPE html>
<html>
<head>
    <title>层级维护</title>
    #parse("header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="用户名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div class="modal fade" id="newlayer" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 950px"> <!--修改bootstrap modal模态框的宽度-->
            <div class="modal-content">
                <div class="modal-header" style="">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title myModalLabel">新增层级</h3>
                </div>
                <div class="modal-body" style="padding: 0px 30px 0px 30px !important;">
                    <div>hello</div>
                    <div><select name="" id=""></select></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="${rc.contextPath}/statics/js/modules/sys/layer.js?_${date.systemTime}"></script>
</body>
</html>