<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出口监测</title>
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">  <!--自定义CSS-->
    <link href="${rc.contextPath}/statics/css/loading.css" rel="stylesheet">
    <script type="text/javascript" src="${rc.contextPath}/statics/js/loading.js"></script>
    <style type="text/css">
        tr:hover{background:#E5E5E5 }
        .search{
            margin-top: 0px;
            text-align: center;
        }
        .input{
            margin-bottom: -3px;
            height: 31px;
            line-height: 31px;
            padding-top: 0px;
        }
        .left{
            margin-left:13px;
        }
        .box{
            padding-bottom: 0px !important;
            padding: 0px; min-height: 0px;
        }
        .Btn{
            margin-bottom:0
        }
        .btn {
            margin-bottom: 0px !important;
        }
        input[type=text]::-ms-clear{
            display: none;
        }
        .combo-select{
            display: inline-block;
            max-width: 120px;
            margin-top: 11px;
            left:4px
        }
        .combo-dropdown{
            max-height:200px!important;
        }
        .combo-dropdown li{
            padding: 5px;
        }
        .option-item{
            border-bottom:0px
        }
        .combo-arrow:before{
            border-top: 5px solid 	Gray
        }
        .combo-open .combo-arrow{
            border-color: #0EB690;
        }
        .combo-focus input{
            border-color: #0EB690;
        }
        .combo-focus{
            border-color: #0EB690;
            box-shadow: none
        }
        input:focus {
            border-color: #0EB690;
            box-shadow: none;
        }
        .combo-input{
            text-overflow: clip;
        }
        .dataTables_wrapper{
            padding: 0px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="padding-bottom: 0 !important;">
                            <div class="row" id="searchbox" style="border: none !important;">
                                <form class="col-lg-10 col-md-10 col-sm-10 form-horizontal" id="outputSearch"
                                      role="form">
                                    <div class="form-group row"  style="margin-bottom: -15px">
                                        <div class="input-group searchspan" >
                                            <span class="searchname search" title="名称" style="width: 60px;text-align: center">出口名称</span>
                                            <input type="text" class="form-control input clear" name="exit"
                                                   style="width: 110px;height: 33px"
                                                   placeholder="请输入出口名称">
                                        </div>
                                        <div style="display: inline-block;position: relative;top: -10px;" >
                                            <span class="searchname search " title="业务类型" style="width: 80px;line-height: 4">业务类型</span>
                                            <div class="input-group searchspan" id="service" >
                                                <div class="jq22">
                                                    <select id="selectservice" class="form-control  input"
                                                            style="width: 140px;display: none;">
                                                        <option value="0">综合业务</option>
                                                        <option value="1">网络连通性业务</option>
                                                        <option value="2">网络层质量业务</option>
                                                        <option value="3">网页浏览业务</option>
                                                        <option value="4">文件下载业务</option>
                                                        <option value="5">在线视频业务</option>
                                                        <option value="6">网络游戏业务</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group searchspan">
                                            <span class="searchname  search left " title="起始时间" style="width: 60px;margin-right: 6px">起始时间</span>
                                            <input type="text" id="start_date" class="form-control  input"
                                                   name="startDate"
                                                   style="width: 134px"
                                                   value="">
                                        </div>
                                        <div class="input-group searchspan">
                                            <span class="searchname search left " title="结束时间" style="width: 60px">结束时间</span>
                                            <input type="text" id="terminal_date" class="form-control input clear "
                                                   name="terminalDate"
                                                   style="width: 134px"
                                                   value="">
                                        </div>

                                    </div>
                                </form>
                                <div class="col-lg-2 col-md-2 col-sm-2 pull-left"
                                     style="text-align:center;" id="search">
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="margin-right: 5px;position: relative;top: 50%;"
                                            v-on:click="search"><span
                                            class="glyphicon glyphicon-zoom-in"></span>查询
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="margin-right: 5px;position: relative;top: 50%;"
                                            v-on:click="reset"><span
                                            class="glyphicon glyphicon-refresh"></span>重置
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" id="output_table">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title fontcolor box " id="outputhandle" >
                                            <a href="../../cem/probe/download">
                                                <button type="button" class="btn btn-sm btn-success"><span
                                                        class="glyphicon glyphicon-open"></span>导出
                                                </button>
                                            </a>
                                            <p id="flip" style="position:relative; left:35%;" class="glyphicon glyphicon-menu-up" onClick="toggle1('searchbox')"></p>
                                        </div>
                                        <div class="ibox-content" id="ibox-content">
                                            <div class="row " style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                <div class="record-table ibox-content" id="probe_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table  class="table table-bordered " id="probedata_table" ></table>
                                                    </div>
                                                </div>
                                                <div class="record-table ibox-content service_unselected" id="ping_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table class="table table-bordered " id="pingdata_table" ></table>
                                                    </div>
                                                </div>
                                                <div class="record-table ibox-content service_unselected" id="sla_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table class="table table-bordered " id="qualitydata_table" ></table>
                                                    </div>
                                                </div>
                                                <div class="record-table ibox-content service_unselected" id="webpage_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table class="table table-bordered " id="broswerdata_table" ></table>
                                                    </div>
                                                </div>
                                                <div class="record-table ibox-content service_unselected" id="download_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table class="table table-bordered " id="downloaddata_table" ></table>
                                                    </div>
                                                </div>

                                                <div class="record-table ibox-content service_unselected" id="video_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table class="table table-bordered " id="videodata_table"></table>
                                                    </div>
                                                </div>
                                                <div class="record-table ibox-content service_unselected" id="game_record">
                                                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                                        <table class="table table-bordered " id="gamedata_table" ></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript"
        src="${rc.contextPath}/statics/js/modules/output/outputMonitor.js?_${date.systemTime}"></script>

<script type="text/javascript">

</script>
</html>