<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        tr:hover{background:#E5E5E5 }

        .search{
            margin-top: 0px;
            text-align: center;
        }
        .input{
            margin-bottom: -3px;
            height: 31px;
            line-height: 31px;
            padding-top: 0px;
        }
        .left{
            margin-left:52px;
        }
        .box{
            padding-bottom: 0px !important;
            padding: 0px; min-height: 0px;
        }
        .Btn{
            margin-bottom:0
        }
        .btn {
            margin-bottom: 0px !important;
        }
        .combo-dropdown{
            max-height: 170px!important;
        }
        .combo-dropdown li{
            padding: 5px;
        }
        .option-item{
            border-bottom:0px
        }
        .combo-arrow::before{
            border-top: 5px solid 	Gray;

        }
        .combo-open .combo-arrow{
            border-color: #0EB690;
        }
        .combo-focus input{
            border-color: #0EB690;
        }
        .combo-focus{
            border-color: #0EB690;
            box-shadow: none
        }
        input:focus {
            border-color: #0EB690;
            box-shadow: none;
        }
        .combo-input{
            text-overflow: clip;
        }
        .clear::-ms-clear { display: none;}
        .clear::-ms-reveal { display: none;}

        input[type=text]::-ms-clear{
            display: none;
        }
    </style>
</head>
<body>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="padding-bottom: 0 !important;">
                            <div class="row" id="searchbox" style="border: none !important;">
                                <form class="col-lg-9 col-md-19 col-sm-9 form-horizontal" id="probesearch"
                                      role="form">
                                    <div class="form-group row" style="margin-bottom: 8px">
                                        <div style="display:inline-block;">
                                            <span class="searchname" title="地市" style="width:40px; text-align: center">地市</span>
                                            <div class="input-group searchspan" id="city" >
                                                <div class="jq22">
                                                    <select id="selectcity" class="form-control"   v-on:change="citychange()" style="display: none">
                                                        <option value="">所有地市</option>
                                                        <option v-for="item in cities"
                                                                v-bind:value="item.message.cityId">{{ item.message.cityName }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: inline-block;">
                                            <span class="searchname search left" title="区县" style="width: 60px;margin-left: 61px">区县</span>
                                            <div class="input-group searchspan" id="county">
                                                <div class="jq22">
                                                    <select id="selectarea" class="form-control"   v-on:change="areachange()" style="display: none">
                                                        <option value="">所有区县</option>
                                                        <option v-for="item in areas"
                                                                v-bind:value="item.message.countyId">{{item.message.countyName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: inline-block;">
                                            <span class="searchname search left" title="探针" style="width: 60px;margin-left: 68px">探针</span>
                                            <div class="input-group searchspan" id="probe" >
                                                <div class="jq22">
                                                    <select id="selectprobe" class="form-control"   style="display: none">
                                                        <option value="">所有探针</option>
                                                        <option v-for="item in probe" v-bind:value="item.message.id">{{ item.message.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row" style="margin-bottom: -5px">
                                        <div style="display:inline-block;">
                                            <span class="searchname" title="目标" style="width:40px; text-align: center;line-height: 14px">目标</span>
                                            <div class="input-group searchspan" id="target" style="top: -10px;">
                                                <div class="jq22">
                                                    <select id="select_target" class="form-control"    style="display: none">
                                                        <option value="">所有目标地址</option>
                                                        <option v-for="item in target"
                                                                v-bind:value="item.message.id">{{item.message.targetName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group searchspan">
                                            <span class="searchname  search left " title="日期" style="width: 60px;margin-right: 6px">起始时间</span>
                                            <input type="text" id="start_date" class="form-control  input"
                                                   name="startDate"
                                                   style="width: 134px"
                                                   value="">
                                        </div>
                                        <div class="input-group searchspan">
                                            <span class="searchname search left " title="日期" style="width: 60px">结束时间</span>
                                            <input type="text" id="terminal_date" class="form-control input clear "
                                                   name="terminalDate"
                                                   style="width: 134px"
                                                   value="">
                                        </div>
                                    </div>
                                </form>
                                <div class="col-lg-3 col-md-3 col-sm-3 pull-left"
                                     style="text-align:center;height:50px;position: relative;" id="search">
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="margin-right: 5px;position: relative;top: 50%;"
                                            v-on:click="search"><span
                                            class="glyphicon glyphicon-zoom-in"></span>查询
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="margin-right: 5px;position: relative;top: 50%;"
                                            v-on:click="reset"><span
                                            class="glyphicon glyphicon-refresh"></span>重置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title fontcolor "  style="padding-bottom: 0px !important;">
                            <div class="btn-group" id="charts_button">                   <!--Vue事件监听-->
                                <button type="button" class="btn btn-default Btn" v-on:click="ping">网络连通性</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="sla">网络层质量</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="web">WEB浏览</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="download">文件下载</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="video">网络视频</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="game">网络游戏</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">     <!--highcharts图-->
                <div id="container" style="height: 400px; margin: 0 10px 0 0 "></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="line-height: 1.5">
                <!--<button type="button" class="btn btn-primary btn-sm pull-right" onclick="exportExcel()">导出-->
                <!--</button>  &lt;!&ndash;模板按钮,导出表格excel&ndash;&gt;-->
                <h4>数据明细</h4>
            </div>
            <div class="ibox-content">
                <div class="row pre-scrollable">     <!--表格-->
                    <div id="table" style="margin-top: 2px !important;">
                        <data-table :scoredata="filteredData"></data-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${rc.contextPath}/statics/js/modules/diagnose/diagnosePeriod.js?_${date.systemTime}"></script>
<script>
</script>
</body>
</html>