<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">
    <link href="${rc.contextPath}/statics/css/combo.select.css" rel="stylesheet">
    <!--<link href="${rc.contextPath}/statics/css/bootstrap-multiselect.css" rel="stylesheet">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="ibox-content" style="padding-bottom: 0 !important;">
    <div class="row" id="probesearch">
        <form class="col-lg-6 col-md-6 col-sm-6 form-horizontal"
              role="form" style="display: inline-block">
            <div class="form-group row">
                <div class="input-group searchspan">
                    <span class="searchname" title="" style="width: 70px">选择探针：</span>
                </div>
                <div class="input-group searchspan">
                    <span class="searchname" title="地市" style="width: 40px">地市</span>
                    <select id="selectcity" class="form-control" name="cityid"
                            v-on:change="citychange()" style="width: 110px">
                        <option value="">所有地市</option>
                        <option v-for="item in city"
                                v-bind:value="item.message.cityId">{{ item.message.cityName }}
                        </option>
                    </select>
                </div>
                <div class="input-group searchspan">
                    <span class="searchname" title="区县" style="width: 40px">区县</span>
                    <select id="selectarea" class="form-control" name="countyid"
                            v-on:change="areachange()" style="width: 110px">
                        <option value="">所有区县</option>
                        <option v-for="item in county"
                                v-bind:value="item.message.countyId">{{
                            item.message.countyName}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <div class="col-lg-3 col-md-3 col-sm-3" id="probe" style="display: inline-block; position: absolute; top: 0px">
            <div class="jq22">
                <select class="form-control" name="probeid" style="display: none">
                    <option value="">选择探针</option>
                    <option v-for="item in probe" v-bind:value="item.message.id">{{ item.message.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <form id="superservice" style="margin: 3px" role="form">
            <div class="row col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="checkbox" id="ping" class="" name="ping" value="1" onclick="getTarget()" checked>
                <label for="ping">网络连通性</label>
                <input type="checkbox" id="sla" class="" name="sla" value="2" onclick="getTarget()" checked>
                <label for="sla">网络层质量</label>
                <input type="checkbox" id="web" class="" name="web" value="3" onclick="getTarget()" checked>
                <label for="web">Web浏览</label>
                <input type="checkbox" id="download" class="" name="download" value="4" onclick="getTarget()" checked>
                <label for="download">文件下载</label>
                <input type="checkbox" id="video" class="" name="video" value="5" onclick="getTarget()" checked>
                <label for="video">在线视频</label>
                <input type="checkbox" id="game" class="" name="game" value="6" onclick="getTarget()" checked>
                <label for="game">网络游戏</label>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" id="target" style="display: inline-block">
            <div class="input-group searchspan jq22">
                <select class="" name="targetid" style="display: none">
                    <option value="">选择目标</option>
                    <option v-for="item in target" v-bind:value="item.message.id">{{ item.message.targetName}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="display: inline-block">
            <a id="diagnose" target="_blank" href="" style="display: none"> </a>
            <button type="button" class="btn btn-success" onclick="diagnose()">开始测试
            </button>
        </div>
    </div>

</div>


<script type="text/javascript"
        src="${rc.contextPath}/statics/js/jquery.combo.select.js?_${date.systemTime}"></script>
<script type="text/javascript"
        src="${rc.contextPath}/statics/js/modules/diagnose/diagnoseNow.js?_${date.systemTime}"></script>

<!--<script type="text/javascript"-->
<!--src="${rc.contextPath}/statics/js/bootstrap-multiselect.js?_${date.systemTime}"></script>-->
</body>
</html>