<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">
    <link href="${rc.contextPath}/statics/css/loading.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/fixedheader/3.1.3/css/fixedHeader.dataTables.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        tr:hover{background:#E5E5E5 }

        .search{
            margin-top: 0px;
            text-align: center;
        }
        .input{
            margin-bottom: -3px;
            height: 31px;
            line-height: 31px;
            padding-top: 0px;
        }
        .left{
            margin-left:52px;
        }
        .box{
            padding-bottom: 0px !important;
            padding: 0px; min-height: 0px;
        }
        .Btn{
            margin-bottom:0
        }
        .color{
        background:   #e7eaec;
        }
        .btn {
            margin-bottom: 0px !important;
        }
        .combo-dropdown{
            max-height: 170px!important;
        }
        .combo-dropdown li{
            padding: 5px;
        }
        .option-item{
            border-bottom:0px
        }
        .combo-arrow::before{
            border-top: 5px solid 	Gray;

        }
        .combo-open .combo-arrow{
            border-color: #0EB690;
        }
        .combo-focus input{
            border-color: #0EB690;
        }
        .combo-focus{
            border-color: #0EB690;
            box-shadow: none
        }
        input:focus {
            border-color: #0EB690;
            box-shadow: none;
        }
        .combo-input{
            text-overflow: clip;
        }
        .clear::-ms-clear { display: none;}
        .clear::-ms-reveal { display: none;}

        input[type=text]::-ms-clear{
            display: none;
        }
        .dataTables_wrapper{
            padding: 0px;
        }
        .dataTable th {
            white-space: nowrap !important;
        }
        .dataTable td {
            overflow: visible; !important;
            white-space: nowrap !important;
        }
        /*.pre-scrollable{*/
            /*overflow-y: inherit;*/
        /*}*/
    </style>
</head>
<body>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="padding-bottom: 0 !important;">
                            <div class="row" id="searchbox" style="border: none !important;">
                                <form class="col-lg-9 col-md-19 col-sm-9 form-horizontal" id="probesearch"
                                      role="form">
                                    <div class="form-group row" style="margin-bottom: 8px">
                                        <div style="display:inline-block;">
                                            <span class="searchname" title="地市" style="width:40px; text-align: center">地市</span>
                                            <div class="input-group searchspan" id="city" >
                                                <div class="jq22">
                                                    <select id="selectcity" class="form-control"   v-on:change="citychange()" style="display: none">
                                                        <option value="">所有地市</option>
                                                        <option v-for="item in cities"
                                                                v-bind:value="item.message.cityId">{{ item.message.cityName }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: inline-block;">
                                            <span class="searchname search left" title="区县" style="width: 60px;margin-left: 61px">区县</span>
                                            <div class="input-group searchspan" id="country">
                                                <div class="jq22">
                                                    <select id="selectarea" class="form-control"   v-on:change="areachange()" style="display: none">
                                                        <option value="">所有区县</option>
                                                        <option v-for="item in areas"
                                                                v-bind:value="item.message.countyId">{{item.message.countyName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: inline-block;">
                                            <span class="searchname search left" title="探针" style="width: 60px;margin-left: 68px">探针</span>
                                            <div class="input-group searchspan" id="probe" >
                                                <div class="jq22">
                                                    <select id="selectprobe" class="form-control"   style="display: none">
                                                        <option value="">所有探针</option>
                                                        <option v-for="item in probe" v-bind:value="item.message.id">{{ item.message.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom: -5px">
                                        <div style="display:inline-block;">
                                            <span class="searchname" title="目标" style="width:40px; text-align: center;line-height: 14px">目标</span>
                                            <div class="input-group searchspan" id="target" style="top: -10px;">
                                                <div class="jq22">
                                                    <select id="select_target" class="form-control"    style="display: none">
                                                        <option value="">所有目标地址</option>
                                                        <option v-for="item in target"
                                                                v-bind:value="item.message.id">{{item.message.targetName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group searchspan">
                                            <span class="searchname  search left " title="起始时间" style="width: 60px;margin-right: 6px">起始时间</span>
                                            <input type="text" id="start_date" class="form-control  input"
                                                   name="startDate"
                                                   style="width: 134px"
                                                   value="">
                                        </div>
                                        <div class="input-group searchspan">
                                            <span class="searchname search left " title="结束时间" style="width: 60px">结束时间</span>
                                            <input type="text" id="terminal_date" class="form-control input clear "
                                                   name="terminalDate"
                                                   style="width: 134px"
                                                   value="">
                                        </div>
                                    </div>
                                </form>
                                <div class="col-lg-3 col-md-3 col-sm-3 pull-left"
                                     style="text-align:center;height:50px;position: relative;" id="search">
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="margin-right: 5px;position: relative;top: 50%;"
                                            v-on:click="search"><span
                                            class="glyphicon glyphicon-zoom-in"></span>查询
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success"
                                            style="margin-right: 5px;position: relative;top: 50%;"
                                            v-on:click="reset"><span
                                            class="glyphicon glyphicon-refresh"></span>重置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title fontcolor "  style="padding-bottom: 0px !important;">
                            <div class="btn-group" id="charts_button">                   <!--Vue事件监听-->
                                <button type="button" class="btn btn-default Btn color" v-on:click="ping" id="ping">网络连通性</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="sla" id="sla">网络层质量</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="web" id="web"> WEB浏览</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="download" id="download">文件下载</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="video"  id="video_button">在线视频</button>
                                <button type="button" class="btn btn-default Btn" v-on:click="game" id="game_button">网络游戏</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">     <!--highcharts图-->
                <div id="container" style="height: 400px; margin: 0 10px 0 0 "></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="line-height: 1.5">
                <!--<button type="button" class="btn btn-primary btn-sm pull-right" onclick="exportExcel()">导出-->
                <!--</button>  &lt;!&ndash;模板按钮,导出表格excel&ndash;&gt;-->
                <h4>数据明细</h4>
            </div>
            <div class="ibox-content">
                <div class="row ">
                    <div id="table" style="margin-top: 2px !important;">
                        <data-table :scoredata="filteredData" style="display: none"></data-table>
                        <!--<table class="table table-bordered " id="ping_table" style="margin-top: 2px!important;"></table>-->
                        <!--<table class="table table-bordered " id="sla_table" style="margin-top: 2px!important;"></table>-->
                        <!--<table class="table table-bordered " id="web_table" style="margin-top: 2px!important;"></table>-->
                        <!--<table class="table table-bordered " id="download_table" style="margin-top: 2px!important;"></table>-->
                        <!--<table class="table table-bordered " id="video_table" style="margin-top: 2px!important;"></table>-->
                        <!--<table class="table table-bordered " id="game_table" style="margin-top: 2px!important;"></table>-->
                        <div class="record-table ibox-content" id="ping_record">
                            <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                <table class="table table-bordered " id="pingdata_table" style="margin-top: 2px!important;"></table>
                            </div>
                        </div>

                        <div class="record-table ibox-content service_unselected" id="sla_record">
                            <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                <table class="table table-bordered " id="sladata_table" style="margin-top: 2px!important;"></table>
                            </div>
                        </div>

                        <div class="record-table ibox-content service_unselected" id="webpage_record">
                            <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                <table class="table table-bordered" id="webpagedata_table"></table>
                            </div>
                        </div>
                        <div class="record-table ibox-content service_unselected" id="webdownload_record">
                            <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                <table class="table table-bordered " id="webdownloaddata_table" style="margin-top: 2px!important;"></table>
                            </div>
                        </div>

                        <div class="record-table ibox-content service_unselected" id="webvideo_record">
                            <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                <table class="table table-bordered " id="webvideodata_table" style="margin-top: 2px!important;"></table>
                            </div>
                        </div>
                        <div class="record-table ibox-content service_unselected" id="game1_record">
                            <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                                <table class="table table-bordered" id="game1data_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--详情模态框（Modal） -->
<div class="modal fade" id="myModal_ping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:995px"> <!--修改bootstrap modal模态框的宽度-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body" style="height: 110px;">
                <div class="record-table ibox-content" id="pingicmp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="pingicmp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="pingtudp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="pingtudp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="pingtcp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="pingtcp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="routeicmp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="routeicmp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="routetcp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="routetcp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--详情模态框（Modal） -->
<div class="modal fade" id="myModal_sla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:995px"> <!--修改bootstrap modal模态框的宽度-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body" style="height: 110px;">
                <div class="record-table ibox-content" id="slatcp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="slatcp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="slaudp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="slaudp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="dns">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="dns_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="dhcp">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="dhcp_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="adsl">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="adsl_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="radius">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="radius_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--详情模态框（Modal） -->
<div class="modal fade" id="myModal_web" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:995px"> <!--修改bootstrap modal模态框的宽度-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body" style="height: 110px;">
                <div class="record-table ibox-content" id="broswer">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="broswer_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--详情模态框（Modal） -->
<div class="modal fade" id="myModal_download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:995px"> <!--修改bootstrap modal模态框的宽度-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body" style="height: 110px;">


                <div class="record-table ibox-content" id="web_download">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="web_download_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="ftp_download">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="ftp_download_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
                <div class="record-table ibox-content" id="ftp_upload">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="ftp_upload_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal_video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:995px"> <!--修改bootstrap modal模态框的宽度-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body" style="height: 145px;">

                <div class="record-table ibox-content" id="video">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="videodata_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal_game" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:995px"> <!--修改bootstrap modal模态框的宽度-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title myModalLabel">详细信息</h3>
            </div>
            <div class="modal-body" style="height: 110px;">
                <div class="record-table ibox-content" id="game">
                    <div class="row" style="overflow:auto">     <!--表格 verflow-x: scroll超出滚动-->
                        <table class="table table-bordered " id="gamedata_table" style="margin-top: 2px!important;"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/modules/diagnose/diagnosePeriod.js?_${date.systemTime}"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/js/loading.js"></script>

</body>
<script>
    /** 拖拽模态框*/
    var dragModal = {
        mouseStartPoint: {"left": 0, "top": 0},
        mouseEndPoint: {"left": 0, "top": 0},
        mouseDragDown: false,
        basePoint: {"left": 0, "top": 0},
        moveTarget: null,
        topleng: 0
    }
    $(document).on("mousedown", ".modal-header", function (e) {
        //webkit内核和火狐禁止文字被选中
        $('body').addClass('select')
        //ie浏览器禁止文字选中
        document.body.onselectstart = document.body.ondrag = function () {
            return false;
        }
        if ($(e.target).hasClass("close"))//点关闭按钮不能移动对话框
            return;
        dragModal.mouseDragDown = true;
        dragModal.moveTarget = $(this).parent().parent();
        dragModal.mouseStartPoint = {"left": e.clientX, "top": e.pageY};
        dragModal.basePoint = dragModal.moveTarget.offset();
        dragModal.topLeng = e.pageY - e.clientY;
    });
    $(document).on("mouseup", function (e) {
        dragModal.mouseDragDown = false;
        dragModal.moveTarget = undefined;
        dragModal.mouseStartPoint = {"left": 0, "top": 0};
        dragModal.basePoint = {"left": 0, "top": 0};
    });
    $(document).on("mousemove", function (e) {
        if (!dragModal.mouseDragDown || dragModal.moveTarget == undefined) return;
        var mousX = e.clientX;
        var mousY = e.pageY;
        if (mousX < 0) mousX = 0;
        if (mousY < 0) mousY = 25;
        dragModal.mouseEndPoint = {"left": mousX, "top": mousY};
        var width = dragModal.moveTarget.width();
        var height = dragModal.moveTarget.height();
        var clientWidth = document.body.clientWidth
        var clientHeight = document.body.clientHeight;
        if (dragModal.mouseEndPoint.left < dragModal.mouseStartPoint.left - dragModal.basePoint.left) {
            dragModal.mouseEndPoint.left = 0;
        }
        else if (dragModal.mouseEndPoint.left >= clientWidth - width + dragModal.mouseStartPoint.left - dragModal.basePoint.left) {
            dragModal.mouseEndPoint.left = clientWidth - width - 38;
        } else {
            dragModal.mouseEndPoint.left = dragModal.mouseEndPoint.left - (dragModal.mouseStartPoint.left - dragModal.basePoint.left);//移动修正，更平滑

        }
        if (dragModal.mouseEndPoint.top - (dragModal.mouseStartPoint.top - dragModal.basePoint.top) < dragModal.topLeng) {
            dragModal.mouseEndPoint.top = dragModal.topLeng;
        } else if (dragModal.mouseEndPoint.top - dragModal.topLeng > clientHeight - height + dragModal.mouseStartPoint.top - dragModal.basePoint.top) {
            dragModal.mouseEndPoint.top = clientHeight - height - 38 + dragModal.topLeng;
        }
        else {
            dragModal.mouseEndPoint.top = dragModal.mouseEndPoint.top - (dragModal.mouseStartPoint.top - dragModal.basePoint.top);
        }
        dragModal.moveTarget.offset(dragModal.mouseEndPoint);
    });
    $(document).on('hidden.bs.modal', '.modal', function (e) {
        $('.modal-dialog').css({'top': '0px', 'left': '0px'})
        $('body').removeClass('select')
        document.body.onselectstart = document.body.ondrag = null;

    })
</script>
</html>