<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #parse("cemHeader.html")  <!--导入CSS和js文件-->
    <link href="${rc.contextPath}/statics/css/formStyle.css" rel="stylesheet">
    <link href="${rc.contextPath}/statics/css/combo.select.css" rel="stylesheet">
    <!--<link href="${rc.contextPath}/statics/css/bootstrap-multiselect.css" rel="stylesheet">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="ibox-content" style="padding-bottom: 0 !important;">
    <div class="row">
        <form class="col-lg-9 col-md-9 col-sm-9 form-horizontal" id="probesearch"
              role="form">
            <div class="form-group row">
                <div class="input-group searchspan">
                    <span class="searchname" title="" style="width: 70px">选择探针：</span>
                </div>
                <div class="input-group searchspan">
                    <span class="searchname" title="地市" style="width: 40px">地市</span>
                    <select id="selectcity" class="form-control" name="cityid"
                            v-on:change="citychange()" style="width: 110px">
                        <option value="">所有地市</option>
                        <option v-for="item in city"
                                v-bind:value="item.message.cityId">{{ item.message.cityName }}
                        </option>
                    </select>
                </div>
                <div class="input-group searchspan">
                    <span class="searchname" title="区县" style="width: 40px">区县</span>
                    <select id="selectarea" class="form-control" name="countyid"
                            v-on:change="areachange()" style="width: 110px">
                        <option value="">所有区县</option>
                        <option v-for="item in county"
                                v-bind:value="item.message.countyId">{{
                            item.message.countyName}}
                        </option>
                    </select>
                </div>
                <div class="input-group searchspan">
                    <span class="searchname" title="探针" style="width: 40px">探针</span>
                    <!--<div class="jq22">-->
                    <!--<select name="probeid"  style="width: 110px" >-->
                    <!--<option value="">-&#45;&#45;请选择-&#45;&#45;</option>-->
                    <!--<option v-for="item in probe" v-bind:value="item.message.id">{{ item.message.name}}</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <select name="probeid" class="form-control" style="width: 110px">
                        <option value="">---请选择---</option>
                        <option v-for="item in probe" v-bind:value="item.message.id">{{ item.message.name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form id="superservice" role="form">
            <div class="row col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="checkbox" id="ping" class="" name="ping" value="1" onclick="getTarget()">
                <label for="ping">网络连通性</label>
                <input type="checkbox" id="sla" class="" name="sla" value="2" onclick="getTarget()">
                <label for="sla">网络层质量</label>
                <input type="checkbox" id="web" class="" name="web" value="3" onclick="getTarget()">
                <label for="web">Web浏览</label>
                <input type="checkbox" id="download" class="" name="download" value="4" onclick="getTarget()">
                <label for="download">文件下载</label>
                <input type="checkbox" id="video" class="" name="video" value="5" onclick="getTarget()">
                <label for="video">在线视频</label>
                <input type="checkbox" id="game" class="" name="game" value="6" onclick="getTarget()">
                <label for="game">网络游戏</label>
            </div>
        </form>
    </div>

    <div class="input-group searchspan" id="target">
        <form id="targetsearch" role="form">
        <span class="searchname" title="测试目标" style="width: 40px">目标</span>
        <select class="form-control " name="targetid" style="width: 110px">
            <option value="">---请选择---</option>
            <option v-for="item in target" v-bind:value="item.message.id">{{ item.message.targetName}}</option>
        </select>
        </form>
        <a id="diagnose" target="_blank" href="" style="display: none">  </a>
            <button type="button" class="btn btn-success" onclick="diagnose()">开始测试
            </button>

    </div>

</div>

<!--<div class="jq22">-->
<!--<select>-->
<!--<option value="">月份</option>-->
<!--<option value="一月">一月</option>-->
<!--<option value="二月">二月</option>-->
<!--<option value="三月">三月</option>-->
<!--<option value="四月">四月</option>-->
<!--<option value="五月">五月</option>-->
<!--<option value="六月">六月</option>-->
<!--<option value="七月">七月</option>-->
<!--<option value="八月">八月</option>-->
<!--<option value="九月">九月</option>-->
<!--<option value="十月">十月</option>-->
<!--<option value="十一月">十一月</option>-->
<!--<option value="十二月">十二月</option>-->
<!--</select>-->
<!--</div>-->
<div class="jq22">
    <select>
        <option value="">月份</option>
        <option value="一月">一月</option>
        <option value="二月">二月</option>
        <option value="三月">三月</option>
        <option value="四月">四月</option>
        <option value="五月">五月</option>
        <option value="六月">六月</option>
        <option value="七月">七月</option>
        <option value="八月">八月</option>
        <option value="九月">九月</option>
        <option value="十月">十月</option>
        <option value="十一月">十一月</option>
        <option value="十二月">十二月</option>
    </select>
</div>


<script type="text/javascript"
        src="${rc.contextPath}/statics/js/jquery.combo.select.js?_${date.systemTime}"></script>
<script type="text/javascript"
        src="${rc.contextPath}/statics/js/modules/diagnose/diagnoseNow.js?_${date.systemTime}"></script>

<!--<script type="text/javascript"-->
<!--src="${rc.contextPath}/statics/js/bootstrap-multiselect.js?_${date.systemTime}"></script>-->
</body>
</html>